body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    pointer-events: none;
}
.contenedor{
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    color: white;
    font-weight: bold;
}
h3 {
    color: white;
}
a{
    background-color: rgb(0, 175, 0);
    border-radius: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#si{
    background-color: mediumvioletred;
}
#no{
    background-color: dimgrey;
}
#si, #no {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 55px;
}
#si:hover, #no:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.gatito{
    width: 150px;
    border-radius: 20px;
}